<% include ../partials/head %>

  <main className="main w-100">
    <div className="content">
      <h1>Byron News </h1>
      <p>The worlds first JSON Austrialian news api made by zolon</p>
      <code>
        GET : https://byronnews.herokuapp.com/api/news
      </code>
    </div>
  </main>

<% include ../partials/footer %>
